{% extends "base.html" %}
 
{%block title%}<title>Favorites</title>{%endblock%}


{% block content %}
<br>
<div class="container-fluid">
    <div class="row ">
        {% for f in new_fav %}
        <div class="col-sm-3">
            <div class="card bg-light ">
                <div class="inner">
                <img src="{{ f.shows.shows_Image.url }}" class="card-img-top" alt="...">
                </div>
                <div class="card-body pb-0 mb-2">
                    <h4 class="card-title">{{f.shows.shows_Name}}</h4></a>
                    <h6 class="card-subtitle mb-2 text-muted">{{f.shows.shows_Type}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{f.shows.shows_Genre}}</h6>
                    <p class="card-text ">{{f.shows.shows_Description}}</p>
                    <div class="mb-3">
                        <a href="{{f.shows.shows_Image.url}}" class="card-link">Download</a>
                        <a href="/feedback/{{f.shows.shows_id}}" class="card-link ">Give Feedback</a>
                    </div>
                    <div class="row">
                        <div class="col mb-2">
                            <form method="POST" action="{% url 'home:delete_fav' f.pk  %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-dark btn-sm">Delete</button>
                            </form>
                        </div>
                        <div class="col">
                            <a href="{% url 'home:update' f.shows.pk %}"><button class="btn btn-outline-dark btn-sm">Update</button></a>
                        </div>
                    </div>
                    <a href="/details" class="card-link">Reviews</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}