
<head>
    {% include "navbar.html" %}
</head>
{% block content %}
<br>
<body>
    <div class="container-fluid">
        <div class="row ">
    {% for f in new_fav %}
            
        <div class="col-sm-3">
            <div class="card bg-light ">
                <img src="{{ f.body.shows_Image.url }}" class="card-img-top" alt="...">
                <div class="card-body pb-0">
                    <h4 class="card-title">{{f.body.shows_Name}}</h4></a>
                    <h6 class="card-subtitle mb-2 text-muted">{{f.body.shows_Type}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{f.body.shows_Genre}}</h6>
                    <p class="card-text ">{{f.body.shows_Description}}</p>
                    
                    <div class="mb-3">
                    <a href="{{f.body.shows_Image.url}}" class="card-link">Download</a>
                    
                    <a  href="/feedback" class="card-link ">Give Feedback</a>
                    </div>
                    
                    <div class="row">
                    <div class="col">
                    <form method="POST" action="{% url 'home:delete_show' f.body.pk  %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-dark btn-sm">Delete</button>
                    </form>
                </div>
                <div class="col">
                    <a href="{% url 'home:update' f.body.pk %}"><button class="btn btn-outline-dark btn-sm">Update</button></a>
                </div>
                </div>
                </div>
                
            </div>
        </div>
        {% endfor %}
        
    </div>
    </div>
</body>
{% endblock %}