<head>
    {% include "navbar.html" %}
</head>
{% block content %}

<body>
    <br>
    <div class="row">
        {% for s in shows %}
        <div class="col-sm-3">
            <div class="card bg-light" >
                <img src="{{ s.shows_image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">{{s.shows_name}}</h4></a>
                    <h6 class="card-subtitle mb-2 text-muted">{{s.shows_type}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{s.shows_genre}}</h6>

                    <p class="card-text">{{s.shows_description}}</p>
                </div>
                <div>
                    <a href="{{s.shows_image.url}}">Download</a>
                </div>
                <div>
                    <a href="/feedback">Give Feedback</a>
                </div>
                <div>
                    <form method="POST" action="{% url 'home:delete_show' s.pk  %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm">Delete</button>
                    </form>
                </div>
                <div>
                    <a href="{% url 'home:update' s.pk %}"><button class="btn btn-primary btn-sm">Update</button></a>
                </div>
            </div>
        </div>
                {% endfor %}
      </div>
</body>
{% endblock %}