<!-- THIS IS THE HOMEPAGE OF THE APPLICAION -->
<head>
   {% include "pages/navbar.html" %}
</head>  

{% block content %}
<body>
<div class="row">
  {% for s in shows %} 
    <div class="col-sm-6">
      <div class="card">
            <div class="card-body">
                <a href="{{ p.project_id }}"><h5 class="card-title">{{s.shows_name}}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted">{{s.shows_type}}</h6>
                <p class="card-text">{{s.shows_description}}</p>
            </div>
            <div>
              <a href="#">View Detail</a>
            </div>
            <div>
              <a href="#">Give Feedback</a>
            </div>
        </div>
    </div>
  {% endfor %}
</div>
</body>

{% endblock %}