
<head>
   {% include "pages/navbar.html" %}
</head>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col">
            <input
                type="text"
                class="form-control"
                placeholder="Shows Title"
                name="shows_name"
            />
            <br />
        </div>
        <div class="col">
            <input
                type="text"
                class="form-control"
                placeholder="Shows Description"
                name="shows_description"
            />
        </div>
        <br />
        <div class="col">
            <input
                type="text"
                class="form-control"
                placeholder="Shows Type"
                name="shows_type"
            />
        </div>
        <br />
  
        <div class="col">
            <button
                style="margin-top: 10px;"
                type="submit"
                class="btn btn-success"
            >
                Upload
            </button>
        </div>
    </form>