{% extends "base.html" %}

<title>Details</title>

{% block content %}


<div class="card">
    <h5 class="card-header">Reviews</h5>
    {% for f in feedback %}
    <div class="card-body">
    <hr>
    	<blockquote class="blockquote">
        <h5 class="card-title">{{f.feedback_show.shows_Name}}</h5>
        <p class="card-text mb-0">{{f.feedback}}</p>
        <footer class="blockquote-footer"><cite title="Source Title">{{f.feedback_owner.id}}</cite></footer>
        </blockquote>        
            <a href="{% url 'feedback:delete' f.pk %}"><button  class="btn btn-outline-dark btn-sm">Delete</button></a>
    </div>
    {%endfor%}
</div>
{% endblock %}

<!-- todo: feedback for diff shows, *permissions, feedback delete, url rest, rating, javascript/alert, fav ma user, fav added  -->