{% extends "base.html" %}
{% load crispy_forms_tags %}

<title>Reviews</title>

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- <input type="hidden" name="tenzin" value="{{shows_id}}"> -->
                {{form|crispy}}
             <input type="submit" class="btn btn-success btn-sm" value="POST">
            </form>
        </div>
    </div>
</div>
{% endblock %}